.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 941px;
  margin: 0 20px;

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .item {
      margin-bottom: 26px;
    }
  }

  .spinnerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}
