.container {
    width: 384px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    padding: 32px 48px;
    align-items: stretch;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;

    .title {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 21px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #262626;
    }

    .fieldset {
        border: 0;
        padding: 0;
        margin: 0;
        margin-bottom: 12px;


        .label {
            font-size: 14px;
            line-height: 22px;
            color: #262626;
            padding: 0;
            margin-bottom: 2px;
        }

        .input {
            width: 100%;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.75);
            padding: 8px 12px;
            margin-top: 2px;
            outline: none;
            margin-bottom: 2px;

            &:focus {
                border-color: #1890FF;
            }
        }

        .inputError {
            border-color: #F5222D;
        }

        .error {
            font-size: 14px;
            line-height: 22px;
            color: #F5222D;
        }
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .input {}
    }

    .checkInput {
        margin-bottom: 21px;
    }

    .submit {
        background: #1890FF;
        border-radius: 4px;
        min-height: 40px;
        border: 0;
        outline: none;
        transition: filter 0.1s ease-in;
        cursor: pointer;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;

        &:hover {
            filter: contrast(2);
        }

        &:active {
            filter: contrast(0.5);
        }
    }

    .text {
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        color: #8C8C8C;

        .link {
            text-decoration: none;
            outline: none;
            color: #1890FF;
        }
    }

}