$likeChecked: url('../../resources/images/likeChecked.svg');
$likeUnchecked: url('../../resources/images/likeUnchecked.svg');

.container {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 22px;
  margin-left: 1.8em;

  .input {
    opacity: 0;
    appearance: none;
  }

  .box {
    width: 16px;
    height: 16px;
    margin-left: -1.8em;
    position: absolute;
    background-image: $likeUnchecked;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
  }

  .active {
    &:hover {
      transform: scale(1.2);
    }
  }

  .checked {
    background-image: $likeChecked;
    transform: scale(1.2);
  }
}
