.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 941px;
    margin: 0 20px;

    .list {
        list-style: none;
        margin: 0;
        padding: 0;

        .item {
            margin-bottom: 26px;
        }
    }

    .disabledList {
        filter: blur(5px);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}