$transparent: rgba(0, 0, 0, 0) !important;

.ant-pagination {
  &-item,
  &-prev button,
  &-next button {
    background-color: $transparent;
    border-color: $transparent;
  }

  &-item-active a {
    background-color: #1890ff !important;
    color: white !important;
    border-radius: 4px !important;
  }
}
