@font-face {
  font-family: Inter;
  src: url('./resources/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('./resources/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('./resources/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebeef3 !important;
}
