.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  width: 100%;
  padding: 48px 32px;
  align-items: stretch;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;

  .title {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #262626;
  }

  .inputContainer {
    margin-bottom: 21px;

    .formItem {
      margin: 0;

      .input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        margin: 2px 0;
        border-radius: 4px;
      }

      .textArea {
        width: 100%;
        height: 168px;
        font-size: 16px;
        line-height: 24px;
        margin: 2px 0;
        resize: none;
        border-radius: 4px;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 21px;

    .fieldset {
      display: flex;
      flex-direction: column;
      margin-right: 18px;

      .legend {
        border: 0;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 22px;
      }

      .tag {
        display: flex;
        flex-wrap: wrap;

        .inputWrapper {
          margin-right: 18px;
          margin-bottom: 6px;

          .input {
            width: 300px;
            height: 40px;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: flex-end;

      .addField {
        border-color: #1890ff;
        color: #1890ff;
        margin: 0;
        margin-bottom: 6px;
      }
    }

    .btn {
      font-size: 16px;
      line-height: 24px;
      height: 40px;
      padding: 8px 40px;
    }
  }

  .divider {
    margin: 10px 0 8px;
  }

  .submit {
    width: 100%;
    padding: 8px 0;
    height: unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      width: 320px;
    }
  }

  .text {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;

    .link {
      text-decoration: none;
      outline: none;
      color: #1890ff;
    }
  }
}

.narrow {
  @media (min-width: 500px) {
    width: 384px;
  }
}

.wide {
  @media (min-width: 1000px) {
    width: 938px;
  }
}
